.navbar {
    margin-bottom: 0;
    box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
}

.navbar-brand {
	font-family: 'Calligraffitti', cursive;
	font-size: 30px;
	color: #2E84A5;
}

li {
	font-family: 'Kalam', cursive;
	font-size: 25px;
	padding: 10px;
}