<nav class="navbar navbar-expand-md navbar-dark bg-dark">

	<a class="navbar-brand" href="#">Mindful Minutes</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto"> </ul>
	</div>

</nav>
<h2>Quiet the mind and the soul will speak -Ma Jaya Sati Bhagavati</h2>
<p>15 minutes a day can: boost immune system, lower stress, reduce blood pressure, increase productivity, improve concentration.</p>

<h1>
      {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/>
 </h1> 
 <button type="button" (click)='startTimer()'>Ready to relax</button>


<div class="circle">Just breathe</div>

<h3>Get inspired</h3>
<p>Sometimes simply by sitting, the soul collects wisdom.</p>
<p>-Zen Proverb</p>

<!-- <ul id="quotes">
	<li *ngFor="let quote of quotes | async">
		<div class="singleQuote">
			<h1>{{quote.quote}}</h1>
			<p>{{quote.author}}</p>

		</div>
	</li>
</ul> -->

