
<div class = "topDisplay">
	<div class="fade">
			<!--Nav bar at top -->
		<nav class="navbar navbar-expand-md">
			<a class="navbar-brand" href="#">Mindful Minutes</a>
		</nav>

		<h2 class="brand">Mindful Minutes</h2>

		<blockquote class = "floating">Quiet the mind and the soul will speak<br> -Ma Jaya Sati Bhagavati</blockquote> 
	</div>
</div> <!-- end of topDisplay -->

		<!--Skewed background with color -->
<div class="skewed">

	<div class="content">
		<div class="bulletItems">
			<h2 class="listHeader">Just 15 minutes a day can:</h2> 
			<ul>
				<li>Boost your immune system</li>
				<li>Lower stress</li>
				<li>Reduce blood pressure</li>
				<li>Increase productivity</li>
				<li>Improve concentration</li>
			</ul>
		</div>
	</div>
</div>

<h1>
		    {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/>
		</h1> 

		<button type="button" (click)='startTimer()'>Ready to relax</button>


		<div class="circle">Just breathe</div>

		<h3>Get inspired</h3>
		<p>Sometimes simply by sitting, the soul collects wisdom.</p>
		<p>-Zen Proverb</p>

	


<!-- <ul id="quotes">
	<li *ngFor="let quote of quotes | async">
		<div class="singleQuote">
			<h1>{{quote.quote}}</h1>
			<p>{{quote.author}}</p>

		</div>
	</li>
</ul> -->

