  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        
      </ul>

    </div>
  </nav>

  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Find Meditation places near you" #search>
				</div>
				
				<div *ngIf="lat && lng">
					<agm-map [latitude]="lat" [longitude]="lng">
					  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
					</agm-map>
				<div>

			</div>
		</div>
  </div> <!-- /.container


 <div class="container">
	<div class= "form-group">
		<input type="text" placeholder="Search by zipcode" class= "form-control" #search>
	</div>
</div> -->


