* {
	-webkit-box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
	-moz-box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
	box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
}

body {
	min-height: 100vh;
}

p {
	box-shadow: none;
	font-family: 'Kalam', cursive;
}

.thumbs {
	height: 200px;
	width: 200px;
	margin-left: 50px;
}

.container-fluid {
	padding: 20px;

}
.container {
	background-color: #404146;
	padding: 20px 40px;
	border: 1px solid black;
}

.row {
	background: #F8FAFA;
	padding: 20px;
	border: 1px solid #5BA6A5;
}

[class^="col"] {
	background: #2E84A5;
	min-height: 200px;
	padding: 20px;
	border: 1px solid black;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: #FFF;
}

.lastRow {
	margin-left: 20%;
}
